.backToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background:white;
  color: black;
  border: none;
  padding: 12px 16px;
  border-radius: 40%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  z-index: 999;
}

.backToTop:hover {
  transform: translateY(-3px);
}